.messages{
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.alert_message{
    width: 100%;
    padding: 20px;
    background-color: #8bf78e;
    color: white;
    margin-bottom: 15px;
    border-radius: 30px;
    font-family: serif;
    font-style: normal;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 26px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}